@page "/fetchdataids"

<PageTitle>Weather forecast</PageTitle>

@using ProyectoIds4.Dto
@*@using ProyectoIds4.UI.BWA.Client.WeatherForecastService*@
@*@inject IWeatherForecastService ForecastService*@
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetWeatherForecast();
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecastIds");
        //TODO: Duvan, Se muestra la Url conexion por consola, agregar al inicio o a un boton.
    }
}